# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]
*$py.class

# ملفات الجوبيتر
.ipynb_checkpoints/
*.ipynb_checkpoints/

# ملفات البيانات الكبيرة
*.csv
*.xlsx
*.pkl
*.h5

# ملفات البيئة الافتراضية
venv/
.env

# ملفات نظام التشغيل
.DS_Store
Thumbs.db

# ملفات IDE
.idea/
.vscode/